<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>
<body background="StudentManagementProject-SpringBoot/src/main/resources/static/images/school.png">
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-light" href="#">Student Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link text-light" th:href="@{/api/home}">Home</a>
      <a class="nav-item nav-link text-light" href="#">About Us</a>
      <a class="nav-item nav-link text-light" th:href="@{/api/students}">Students</a>
    </div>
  </div>
</nav>
<br><br><br><br><br><br><br><br>

	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-lg-9 col-md-9 container  justify-align-center align-items-center card">
				<h1>Welcome to Student Management System</h1>
				<h3>Ashish Sangavkar Comedy Training School</h3>
			</div>
		</div>
		
	</div>
</body>
</html>